<launch>
    <arg
        name="video_bag_file"
        default="$(find orb_slam)/dataset/rgbd_dataset_freiburg1_rpy.bag"/>
    <node
        pkg="rosbag"
        type="play"
        name="player"
        args="-r 1 $(arg video_bag_file)" />

    <!-- load camera paramters -->
    <rosparam
        command="load"
        file="$(find orb_slam)/cfg/camera.yaml" />

    <!-- load orb_extractor paramters -->
    <rosparam
        command="load"
        file="$(find orb_slam)/cfg/orb_extractor.yaml" />

    <!-- load orb_matcher paramters -->
    <rosparam
        command="load"
        file="$(find orb_slam)/cfg/orb_matcher.yaml" />

    <!-- load tracker paramters -->
    <rosparam
        command="load"
        file="$(find orb_slam)/cfg/tracker.yaml" />

    <node
        pkg="orb_slam" name="tracker_node" type="tracker_node" output="screen"/>
        <!-- launch-prefix="xterm -e /usr/bin/gdb -args" -->
</launch>